.metadata/
**/bin/
*.class
GeneratedBarFiles/
*.iml
**/.vagrant/
**/target/
~$*
*.jar
!/test/integration/**/Lib/*.jar
/test/integration/Results/*
!**/lib/**/*.jar
!/build/java/*.jar
!build/gradle/wrapper/gradle-wrapper.jar
**/.idea
/build/target/*
/gui/app/components
/build/.project


